<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconImage</key>
		<string>me_sign</string>
		<key>gridTitle</key>
		<string>签到</string>
		<key>serviceType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>me_invite</string>
		<key>gridTitle</key>
		<string>邀请好友</string>
		<key>serviceType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>me_bindBoss</string>
		<key>gridTitle</key>
		<string>绑定经销商</string>
		<key>serviceType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>me_modify</string>
		<key>gridTitle</key>
		<string>号码变更</string>
		<key>serviceType</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
