<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconImage</key>
		<string>me_sign</string>
		<key>gridTitle</key>
		<string>签到</string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>me_invite</string>
		<key>gridTitle</key>
		<string>邀请好友</string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>me_weixin</string>
		<key>gridTitle</key>
		<string>微信公众号</string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>me_modify</string>
		<key>gridTitle</key>
		<string>号码变更</string>
	</dict>
</array>
</plist>
